$cl_primary : #000000;
$cl_blue : #377DFF;
$cl_green: #38CB89;
$cl_orange: #FFAB00;
$cl_red: #FF5630;
$cl_white :#ffffff;

$cl_neutral-1: #fefefe;
$cl_neutral-2: #F3F5F7;
$cl_neutral-3: #E8ECEF;
$cl_neutral-4: #6C7275;
$cl_neutral-5: #343839;
$cl_neutral-6: #232627;
$cl_neutral-7: #141718;